*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/gradle.xml
/.idea/modules.xml
.DS_Store
/build
/captures
.externalNativeBuild
zendBasedValidator/build/
.idea/
app/production/release/
ymktmobile-release/build/
*.project
*.prefs
*.classpath
app/production/
